nav {
  background-color: $color-principal;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    li a {
      color: $color-texto;
      text-decoration: none;

      &:hover,
      &:focus-visible {
        color: $color-secundario;
        text-decoration: underline;
      }
    }
  }
}
